{{> header_admin}}

<div class="mt-4">
    <div class="d-flex flex-row justify-content-between">
        <h3>Quản lý khóa học</h3>
        <a href="/courses/recyclebin" class="">Thùng rác</a>
        
    </div>
   
    <table class="table table-hover">
        <thead>
            <tr>
                {{!-- <th scope="col">ID</th> --}}
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">VideoID</th>
                <th scope="col"></th>

            </tr>
        </thead>

        <tbody class="table-field">
            {{#each data}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.videoID}}</td>
                {{!-- <td>{{this.createdAt}}</td> --}}
                <td class="" style="display:flex; justify-content: flex-end; align-items: center;">
                    <a href="/courses/{{this._id}}/edit" class="btn btn-light">Sửa</a>
                    <a class="px-2 delete-btn" style="text-decoration: none; cursor:pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal" id="{{this._id}}">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td class="text-center" colspan="5">
                    <h4>Bạn chưa đăng khóa học nào</h4>
                    <a href="/courses/create" style="font-size: 20px;">Tạo khóa học mới</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn xóa khóa học</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xóa khóa học
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="delete-now" data-bs-dismiss="modal">Xóa bỏ</button>
            </div>
        </div>
    </div>
</div>

<form id="hidden-form" method="POST" ></form>


<script>
    var id
    var deleteForm = document.getElementById('hidden-form')
    document.querySelector('.table-field').onclick = function (e) {
        id = e.target.id
    }
    document.getElementById('delete-now').onclick = function () {
        deleteForm.action = '/courses/' + id + '?_method=DELETE'
        deleteForm.submit();
    }
</script>